client/node_modules/
server/node_modules/

# Environment variables (Sensitive data)
server/.env
client/.env.local
.env
client/.env


client/dist/
client/build/

.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*
server/logs/